doctype html
html
  head
    include /meta.html
    include /style.pug
    
    title #{title}
    
  body
    include /../Common/Header.pug
    form(action='/login/reset_password' method='post')
      div(class='layout-row')
        p(class='input-label layout-cell') Email
        input(class='input-text layout-cell margin-med' type='email' name='email' required)
      div(class='layout-row')
        div(class='layout-cell')
        input(class='input-submit layout-cell padding-med margin-med width-95' type='submit' value='Change Password')
    include /../Common/Footer.pug