doctype html
html
  head
    include /meta.html
    include /style.pug
    
    title #{title}
    
    include /scripts.pug
    
  body
    include /../Common/Header.pug
    
    <div id='window'>
    
    include /../Common/Footer.pug