doctype html
html
  head
    include /meta.html
    include /style.pug
    
    title #{title}
    
  body
    include /../Common/Header.pug
    form(class='input-form' action=`/user/${targetUser.Email}/change_password` method='post')
      div(class='layout-table')
        div(class='layout-row')
          p(class='layout-cell input-label') New Password
          input(class='layout-cell input-text' type='password' name='password_1' required pattern=password_regex title="Passwords must contain lowercase, uppercase, special and numerical characters and be between 6 and 20 characters in length.")
        div(class='layout-row')
          p(class='layout-cell input-label') Confirm Password
          input(class='layout-cell input-text' type='password' name='password_2' required)
        div(class='layout-row')
          input(class='layout-cell input-submit padding-med margin-med' type='submit' value='Update')
    include /../Common/Footer.pug